h1, h2, h3, a{
    color:rgb(34, 34, 77);
    font-family: monospace;
}

footer{
    background-color: rgb(34, 34, 77);
}

ul{
    list-style: none;
    display: inline;
}

.lead{
    font-family: monospace;
}